<h1>New Request</h1>

<% form_for(@request) do |f| %>
  <%= f.error_messages %>
  
  <%= f.hidden_field :date_initiated %>
  
<!-- 
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
-->
  <p>
    <%= f.label "Product Search" %><br />
    <%= f.text_field :query %>
  </p>
  <p>
    <%= f.label "Desired Price" %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label "Max Results" %><br />
    <%= f.text_field :max %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<p><%= link_to 'Back', requests_path %></p>
